@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

::root {
  --primary-color: #ff6b6b;
  --secondary-color: #794afa;
  --secondary-dark-color: #794afa;

  --white-color: #fff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --parcent100: 100%;
  --parcent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color .3s, color .3s;
  --trans-background: background-color .3s;
  --trans-color: color .3s;

}
* {
  margin: 0;
  padding: 0;

}
*,::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--dark-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

img {
  max-width: var(--parcent100);
  vertical-align: middle;
}


strong {
  font-weight: var(--fw8);
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder {
  font: inherit;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Popins';
}

h1 {
  font-size: calc(1.3em + 1vw);
  font-weight: var(--fw8);
  line-height: 1;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: var(--fw7);
}

h4 {
  font-size: 1em;
  font-weight: var(--fw6);
}

/* 
  Resusable Selector
*/

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;
}

.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}

.column .row {
  padding: 0 0 .938em;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexitem {
  display: flex;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}



/* Responsive */

@media screen and (max-width: 992px) {
  .container {
    padding: 0 2em;
  }
}